/* CSS VARIABLES */
:root {
  --color__fg: black;
  --color__bg: white;
  --color__button: #e0e0e0;
  --color__buttonHover: #e5e5e5;
  --color__buttonActive: #ccc;
  --color__buttonBorder: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color__fg: white;
    --color__bg: black;
    --color__button: #202020;
    --color__buttonHover: #262626;
    --color__buttonActive: #121212;
    --color__buttonBorder: #121212;
  }
}


/* CENTERING THE TEXT */
html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: var(--color__fg);
  background-color: var(--color__bg);
}

button {
  font: inherit;
  color: var(--color__fg);
  background-color: var(--color__button);
  border: solid 1px var(--color__buttonBorder);
  padding: 0.5em 1em;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}
button:hover {
  background-color: var(--color__buttonHover);
}
button:active {
  background-color: var(--color__buttonActive);
}